<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <script src="https://unpkg.com/@google/model-viewer/dist/model-viewer.js"></script>
</head>
<body>
    <model-viewer
      src="https://cdn.glitch.com/36cb8393-65c6-408d-a538-055ada20431b/Astronaut.glb?1542147958948"
      alt="A 3D model of an astronaut"
      background-color="#70BCD1"
      controls
      auto-rotate>
    </model-viewer>
</body>
</html>